.main {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container_form {
    width: 100%;
    height: auto;
}

.form{
    width: 90%;
    height: 300px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.input_connexion{
    flex-basis: 25%;
}

.input_connexion input{
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #686868;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
}

.redirection_sign_up{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redirection_sign_up p{
    margin: 0;
    font-size: 1rem;
    color: #686868;
}

.redirection_sign_up a{
    font-size: 1rem;
    font-weight: bold;
    color: #518071;
}

@media screen and (min-width: 576px){
    .input_connexion input{
        width: 45%;
    }
}

@media screen and (min-width: 992px){
    .input_connexion input{
        width: 30%;
    }
}