.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.container_form {
  width: 100%;
  height: auto;
}

.form_register {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input_inscription {
  flex-basis: 25%;
}

.input_inscription input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #686868;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 1rem;
  background: none;
}
.input_inscription input::placeholder {
  color: black;
  font-size: 1rem;
}

.redirection_sign_in {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redirection_sign_in p {
  margin: 0;
  font-size: 0.875rem;
  color: #686868;
}

.redirection_sign_in a {
  font-size: 0.875rem;
  font-weight: bold;
  color: #518071;
}

.button_inscription {
  margin-top: 20px;
}
@media screen and (min-width: 576px) {
  .input_inscription input {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .input_inscription input {
    width: 30%;
  }
}
