.header {
  background-color: #518071;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  height: 100px;
}

.header img {
  cursor: pointer;
}

.header .menu {
  height: 30px;
  color: #fff;
}

.header .logo {
  width: 100px;
}

.header .profil-img {
  border-radius: 50px;
  height: 60px;
}

@media screen and (min-width: 992px) {
  .header {
    display: none;
  }
}
