.left-menu-pc {
  background-color: #518071;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  /* attention : la valeur est liée au margin-left du .app de la "media query PC" dans "Home.css" */
  width: 200px;
  z-index: 1;
}

.left-menu-pc img,
.option p {
  cursor: pointer;
}

.left-menu-pc .logo {
  width: 150px;
}

.left-menu-pc .profil-img {
  border-radius: 50px;
  height: 100px;
}

.left-menu-pc p {
  color: #fefefe;
  font-size: 1rem;
  margin: 0;
}

.left-menu-pc a {
  text-decoration: none;
}

.option-liste {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.option {
  width: 90%;
  height: 40px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.option:hover {
  color: rgb(254, 254, 254);
  background: rgb(254, 254, 254, 0.2);
}

.option svg {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 12px;
}

.option a {
  color: #fefefe;
}
.option a:active {
  color: #3d3434;
}

@media screen and (max-width: 992px) {
  .left-menu-pc {
    display: none;
  }
}
